<<<<<<< HEAD
#answers {
    margin-left: 700px;
    margin-right: 600px;
    margin-top: 50px;
    font-size: larger;
}
#timer {
    font-size: xx-large;
    margin-left: 650px;
    margin-right: 650px;
}
#score {
    font-size: xx-large;
    margin-left: 650px;
    margin-right: 650px;
}
#question {
    font-size: x-large;
    margin-left: 635px;
    margin-right: 635px;
}
#over {
    font-size: xx-large;
    margin-left: 600px;
    margin-right: 600px;
}
=======
body {
    background-image: linear-gradient(orange, red);
    background-repeat: no-repeat;
    background-size: 1500px 900px;
}
>>>>>>> 1522f05f4e43d6eac462758b384f230906174291
